QFrame#Header {

    background-color: #213045;
    border-radius: 6px;
    min-width: 12px;
    min-height: 12px;
}

QWidget#LNContainer{

    background-color: transparent;
}

QLabel#Logo {

    background-color: transparent;
}
